<html>

<head>
    <style>
        body {
            font-family: Tahoma, Helvetica;
        }

        .container {
            width: 100%;
            height: auto;
        }

        .subcontainer {
            width: 100%;
            height: auto;
        }

        .flex {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
    </style>
</head>

<body>
    <div class="container flex">
        <div class="subcontainer flex">
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/dQw4w9WgXcQ?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="subcontainer flex">
            <h1>Yoloooooooooo</h1>
        </div>
        <div class="subcontainer flex">
            <div><em>No frontend</em></div>
        </div>
    </div>
</body>

</html>